@import url('./Colors.css');

/* MAIN CSS */

:root {  
  font-family: 'Noticia Text', sans-serif;
  color: var(--main-text-color);
  background: linear-gradient(-90deg, #252525 0%, #373737 99%);
  user-select: none;
  text-rendering: optimizeLegibility;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* General */

.content {
  background-color: var(--main-text-color);
  color: var(--main-bg-color);
  min-height: 535px;
  min-width: 400px;
  width: 65%;
  margin: 0 auto;
  padding: 2.7rem 5rem;
  border-radius: 16px;
  /* box-shadow: 0 0 30px var(--main-text-color); */
  border: 2px solid var(--secondary-color);
  text-align: justify;
  z-index: -1;
}

@media (max-width:860px){
  
  .content{
    padding: 1rem 0;
    min-width: 100%;
    border-radius: 5px;
  }

  .footer {
    font-size: 10px;
  }
}

/* animación entrada de nuevo componente */

.fade-in {
	-webkit-animation: fade-in 500ms cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	        animation: fade-in 500ms cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

@-webkit-keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}




