* {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  
  --main-bg-color: #242424;
  --main-text-color: #e3e3e3;
  --menu-burger-color: #bfbfbf;
  --project-bg-color: #454444;
  --secondary-color: #f04630;
}