@import url('../../Colors.css');

.footer {
  height: 135px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  gap: 1rem;
}

@media (max-width: 360px){
  .footer{
    font-size: 1.2rem;
  }
}