/* About me component*/

.about-body {
  display: flex;
  align-items: center;
  gap: 4rem;
  padding: 0 3rem;
  font-size: 1.1rem;
}

.about-text {
  margin: 5px 0;
}

.media-icons {
  display: flex;
  justify-content: space-evenly;
  font-size: 3rem;
  color: var(--secondary-color);
}

.about-text-title {
  text-align: center;
  margin-bottom: 2rem;
  font-size: 2rem;
}

.about-text-item{
  margin-bottom: 1.2rem;
  line-height: 1.4rem;
}

.about-text-item:first-of-type::first-letter {
  font-size: 1.5rem;
  font-weight: bold;
}

.about-text-item:last-of-type{
  margin-bottom: 2.5rem;
}

.about-text-highlight {
  color: var(--secondary-color);
}

.about-img {
  width: 100%;
  height: 400px;
  border-radius: 8px;
  margin-bottom: 3rem;
  filter: drop-shadow(16px 16px 10px var(--main-bg-color));
}


/* clase para ocultar la foto según el innerWidth*/

.hidden {
  display: none;
}

.media-icons-animation {
	-webkit-animation: media-icons-animation 0.9s both;
	        animation: media-icons-animation 0.9s both;
  transition: scale 500ms;
  cursor: pointer;
}

.media-icons-animation:hover{
  scale: 1.5;
}

@-webkit-keyframes media-icons-animation {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
  }
  30% {
    -webkit-transform: scale3d(1.25, 0.75, 1);
            transform: scale3d(1.25, 0.75, 1);
  }
  40% {
    -webkit-transform: scale3d(0.75, 1.25, 1);
            transform: scale3d(0.75, 1.25, 1);
  }
  50% {
    -webkit-transform: scale3d(1.15, 0.85, 1);
            transform: scale3d(1.15, 0.85, 1);
  }
  65% {
    -webkit-transform: scale3d(0.95, 1.05, 1);
            transform: scale3d(0.95, 1.05, 1);
  }
  75% {
    -webkit-transform: scale3d(1.05, 0.95, 1);
            transform: scale3d(1.05, 0.95, 1);
  }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
  }
}
@keyframes media-icons-animation{
  0% {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
  }
  30% {
    -webkit-transform: scale3d(1.25, 0.75, 1);
            transform: scale3d(1.25, 0.75, 1);
  }
  40% {
    -webkit-transform: scale3d(0.75, 1.25, 1);
            transform: scale3d(0.75, 1.25, 1);
  }
  50% {
    -webkit-transform: scale3d(1.15, 0.85, 1);
            transform: scale3d(1.15, 0.85, 1);
  }
  65% {
    -webkit-transform: scale3d(0.95, 1.05, 1);
            transform: scale3d(0.95, 1.05, 1);
  }
  75% {
    -webkit-transform: scale3d(1.05, 0.95, 1);
            transform: scale3d(1.05, 0.95, 1);
  }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
  }
}
