@import url('../Colors.css');

/* Portfolio component */

.projects {
  display: grid;
  gap: 5rem;
  grid-auto-flow: dense;
  grid-auto-rows: 28rem;
  grid-template-columns: repeat(auto-fill, minmax(22rem, 1fr)); /* thx codely.tv*/
}

.project {
  background-color: var(--project-bg-color);
  color: var(--main-text-color);
  border-radius: 8px;
  box-shadow: 0 0 8px var(--main-bg-color);
  transition: all 500ms;
}

.project:hover {
  scale: 1.1;
}

.project-img *{
  width: 100%;
  height: 300px;
  overflow: hidden;
  border-radius: 8px 8px 0 0;
  border-bottom: 1px solid var(--main-bg-color);
  box-shadow: 0 0 8px var(--main-bg-color);
  filter: grayscale(.4);
}

.project-text{
  display: flex; 
  flex-direction: column;  
  align-items: center;
  margin-top: 12px;
  font-size: 1.2rem;
  font-weight: bold;
}

.project-text *{
  line-height: 2rem;
}

.project-links {
  font-size: 2rem;
  text-align: center;
  padding: 13px;
  display: flex;
  gap: 3rem;
}