@import url('./Colors.css');

/* MAIN CSS */

:root {  
  font-family: 'Noticia Text', sans-serif;
  color: var(--main-text-color);
  background-color: var(--main-bg-color);
  user-select: none;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* General */

.content {
  background-color: var(--main-text-color);
  color: var(--main-bg-color);
  min-height: 535px;
  min-width: 500px;
  width: 60%;
  margin: 0 auto;
  padding: 2.7rem 5rem;
  border-radius: 6px;
  box-shadow: 0 0 30px var(--main-text-color);
  text-align: justify;
  z-index: -1;
}

.text-title {
  text-align: center;
  margin-bottom: 2rem;
  font-size: 2rem;
}

@media (max-width:1000px){
  .content{
    padding: 3rem 2rem;
  }
}

/*  */

.fade-in {
	-webkit-animation: fade-in 500ms cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	        animation: fade-in 500ms cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

@-webkit-keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}




